nltk==3.5
plotly==4.9.0
pandas==1.1.2
spacy==2.3.2
https://github.com/explosion/spacy-models/releases/download/pt_core_news_md-2.3.0/pt_core_news_md-2.3.0.tar.gz
ibm_watson==4.4.1
numpy==1.18.1
wordcloud==1.7.0
tryagain==1.0
Unidecode==1.1.1
streamlit==0.71.0
ibm_cloud_sdk_core==1.5.1
scikit_learn==0.23.2
