pandas==1.1.2
plotly==4.9.0
ibm_watson==4.4.1
streamlit==0.70.0
numpy==1.18.1
tryagain==1.0
Unidecode==1.1.1
spacy==2.3.2
https://github.com/explosion/spacy-models/releases/download/pt_core_news_md-2.3.0/pt_core_news_md-2.3.0.tar.gz
nltk==3.5
ibm_cloud_sdk_core==1.5.1
scikit_learn==0.23.2
